html {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 1000;
    padding-right: 50px;
}


.logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 20px;
    color: white;
    font-size: 36px;
    text-shadow: 3px 3px 0px rgba(2, 111, 213);   
    font-weight:900;
    font-style: italic; 
    z-index: 1001;
}

.logo2 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 40px;
    text-shadow: 3px 3px 0px rgba(2, 111, 213);   
    font-weight:900;
    font-style: italic; 

}

/* Stylizacja menu */

nav {
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;    
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
    padding: 12px;
    transition: background-color 0.3s ease-in-out;
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    transition: box-shadow 0.3s ease-in-out;
    padding: 2px;
}

nav ul li:hover > a:not(.submenu li a){
    box-shadow: 0 3px 0px rgb(2, 111, 213);
}

nav ul li:hover {
    background-color: rgba(113, 113, 113, 0.8);
}

.has-submenu {
    position: relative; /* Zapewnia, że submenu będzie względem rodzica */
}

/* Ukryte podmenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(51, 51, 51, 0.8);
    width: 250px;
    flex-direction: column;
    padding: 0;
}

.submenu li {
    margin: 0;
    padding: 10px;
}

.submenu li:hover {
    background-color:rgba(113, 113, 113, 0.8);
}

.submenu li a {
    width: 100%;
    display: block;
    color: white;
    font-size: 15px;
}

/* Pokazanie submenu po aktywacji */
.has-submenu:hover .submenu {
    display: block;
}

/* Hamburger menu - ukryte na dużych ekranach */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    padding: 10px;
}

.title{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-size: 32px;
    color:  rgba(51, 51, 51, 0.8);
    padding: 15px;
    position: relative; 
    display: inline-block; 
    overflow: hidden; 
}

@keyframes underlineDraw {
    0% {
        width: 0%; /* Kreska ma początkową szerokość 0% */
    }
    100% {
        width: 100%; /* Kreska w końcu ma 100% szerokości */
    }
}

.title h1::after {
    content: ''; /* Tworzymy pusty element */
    position: absolute;
    bottom: 0; /* Ustalamy pozycję kreski pod tekstem */
    left: 0;
    width: 0%; /* Kreska ma początkową szerokość 0% */
    height: 3px; /* Grubość kreski */
    background-color:rgb(2, 111, 213); /* Kolor kreski */
    animation: underlineDraw 1.5s ease-out 0.5s forwards; /* Opóźnienie animacji kreski */
}

/* Kontener galerii */
#gallery {
    width: 90%;
    margin: 30px auto 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* Kontener pojedynczego obrazka */
.image-container {
    position: relative;
    display: inline-block;
    width: 23%;
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container .tooltip {
    box-sizing: border-box;
    position: absolute;     
    bottom: 3px;             
    left: 3px;               
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    font-size: 11px;
    display: none;             
    align-items: center;      
    justify-content: center;   
    transition: transform 0.3s ease-in-out;
    padding: 3px 10px;
    border-radius: 5px;
    width: auto;
    max-width: 90%;
}

.image-container:hover {
    transform: scale(1.07);
}

.image-container:hover .tooltip {
    display: flex;  
}

/* Modal overlay */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    display: none; /* ukryty domyślnie */
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

/* Modal content */
#modalContent {
    position: relative;
    max-width: 90%;
    max-height: 80%;
    text-align: center;
}

#modalContent img {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

/* Opis pod obrazkiem w modal */
#modalContent .description {
    margin-top: 10px;
    color: white;
    font-size: 16px;
}

/* Przycisk zamknięcia (X) w prawym górnym rogu modal */
#modalContent .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 25%;
    padding: 0px 5px;
}

/* Przyciski nawigacyjne */
#modalContent .prev,
#modalContent .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 0px 5px;    
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 25%;
}

#modalContent .prev {
    left: 10px;
}

#modalContent .next {
    right: 10px;
}

.contact-info {
    text-align: center;
    /*width: 80vw;*/
    width: 100%;
    margin: 0;
    /*box-shadow: 1px 0px 3px rgb(51, 51, 51), -1px 0px 3px rgb(51, 51, 51);*/

    display: flex;
    background-color: rgba(51, 51, 51, 1);
    color: white;
    justify-content: center; /* Ustawienie elementów bliżej siebie */
    padding-top: 80px;
    padding-bottom: 60px;

}
.contact-info .right{
    padding-right: 50px;
    width: 70%;
}
.contact-info .left{
    width: 30%;
    padding-left: 60px;
}

.contact-info .left p{
    display: flex;
    justify-content: left;

}


.contact-info iframe {
    width: 80%;
    height: 180px;
    box-shadow: 5px 5px 0px rgb(2, 111, 213);
}

@media (max-width: 1024px) {
    nav ul li { 
        margin: 0 3px;
    }

    .image-container {
        width: 30%;
    }
}

@media (max-width: 700px) {
    .menu-toggle {
        display: block; /* Pokazuje ikonę ☰ */
    }
    
    .logo {

        right: 0px;
        left: auto;
    }

    header {
  padding: 0;
    }

    nav ul {
        display: none; /* Ukrywa menu domyślnie */
        flex-direction: column;
        background: #444;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        text-align: center;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0;
    }

    nav ul.show {
        display: flex; /* Pokazuje menu po kliknięciu */
    }

    nav ul li {
        margin: 0px 0px;
        padding: 0;
        width: 100%;
        line-height: 40px;
    }

    nav ul li a:not(.submenu li a) {
        display: inline-block;
        margin: 10px 10px;

    }

    .has-submenu {
        margin: 0;
        padding: 0; 
        width: 100%;
        position: relative;
    }
    
    .has-submenu:hover .submenu {
        display: none; /* Wyłączamy wyświetlanie podmenu przy hover */
    }

    /* Rozwijanie submenu po kliknięciu */
    .has-submenu.active > .submenu {
        display: block;
        width: 100%; /* Szerokość 100% na małych ekranach */
        position: relative;
        margin-top: 10px;
    }
    
    .submenu li a {
        font-size: 18px;
    }

    .image-container {
        width: 43%;
    }

    .contact-info {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .contact-info .right{
        padding-right: 0px;
        width: 80%;
        margin: auto;
    }
    
    .contact-info .left{
        width: 80%;
        padding: auto;
    }


}

